*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-items: center;
}

.top-bar{
    width: 100%;
    background: rgb(40, 40, 40);
    min-height: 4rem;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    color: white;
}

.top-bar a img{
    padding: 1rem 1rem 1rem 2rem;
    width: 5rem;
}

.side-bar a img{
    padding: 0 1rem 0 1rem;
    width: 5rem;
}

.side-bar{
    transition: 0.2s;
    position: fixed;
    left: 0;
    min-width: 15rem;
    max-width: 15rem;
    background: rgb(40, 40, 40);
    height: 100%;
    top: 0;
    color: white;
    display: flex;
}


.side-bar a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    transition: 0.2s;
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 1rem 1rem 1rem 1rem;
    align-items: center;
    display: flex;
}

.side-bar a:hover {
    background: rgb(32, 32, 32);
}

aside{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .side-bar{
        transition: 0.2s;
        min-width: 0;
        max-width: 0;
    }
    .side-bar a {
    display: none;
    transition: 0.2s;
    }
}